body {
  background-color: aqua;
}

.header {
  background-color: grey;
  color: white;
  text-align: center;
  padding: 20px;
}

.navigation {
  background-color: lightcoral;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navigation li {
  display: inline-block;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.navigation li:hover {
  background-color: #7c7c7c;
  color: white;
}

.main_content {
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
 
}

.sub_content {
  background-color: aqua;
  border: 2px solid black;
  margin: 10px;
  padding: 15px;
  display: inline-block;
  width: 60%;
  
}

.sub_sub_content {
  background-color: white;
  gap: 100px;
}

#contact_info {
  float: right;
  text-align: center;
  background-color: green;
  border: 2px solid black;
  border-radius: 15px;
  width: 25%;
  padding: 10px;
  margin: 10px;
}

button:hover {
  background-color: red;
}

ul {
  list-style-type: none;
}

#footer {
  text-align: center;
  background-color: grey;
  color: white;
  padding: 10px;
}
