body {
  background-color: aqua;
  align-items: center;
  justify-content: center;
  
}

#name_and_change_color {
  display: flex;
  align-items: center;
  margin-top: 200px;
  margin-left: 250px;
  gap: 200px;
}

#color_form {
  color: white;
  display: flex;
  margin-left: 100px;
  width: auto;
  align-items: center;
  gap: 10px;
  border: 5px solid white;
  border-radius: 15px;
  background-color: purple;
  padding : 20px;
}

#color_change_button {
  width: 100px;
}

#text_add_and_test {
  display: flex;
  align-items: center;
  margin-top: 200px;
  margin-left: 250px;
  gap: 150px;

  
}

#text_tester_form {
  color: white;
  display: flex;
  margin-left: 100px;
  width: auto;
  align-items: center;
  gap: 10px;
  border: 5px solid white;
  border-radius: 15px;
  background-color: purple;
  padding : 20px;
}

#add_text_button {
  width: 100px;
  border: 5px solid white;
  border-radius: 15px;
  background-color: purple;
  padding : 20px;
  
}

