body {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}

#name_and_change_color {
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: 120px;               
  margin-bottom: 80px;
  width: 100%;
}

#color_form {
 color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 5px solid white;
  border-radius: 15px;
  background-color: purple;
  padding: 20px;
}

#color_change_button {
  width: 100px;
}

#text_add_and_test {
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: 120px;               
  margin-bottom: 80px;
  width: 100%;
}

#text_tester_form {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 5px solid white;
  border-radius: 15px;
  background-color: purple;
  padding: 20px;
}

#add_text_button {
   width: 100px;
  
}

.button_wrap {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 5px solid white;
  border-radius: 15px;
  background-color: purple;
  padding: 20px;
}

