body {
  background-color: blanchedalmond;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.head_footer {
  background-color: brown;
  text-align: center;
  margin: 10px;
  padding: 1px;
}

input:focus {
  width: 300px;
}

#navigation {
  text-align: center;
  background-color: darkgreen;
  padding: 5px;
}

#navigation a {
  color: white;
}

#navigation li {
  display: inline-block;
  position: relative;
  padding: 10px;
}

#navigation ul {
  list-style-type: none;
}

#navigation li:hover {
  background-color: #7c7c7c;
  color: white;
}

.main_content {
  background-color: aliceblue;
  color: black;
  border: 2px solid black;
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  min-height: 300px;
  align-items: flex-start;
}

#form {
  padding: 20px;
  width: 90%;
}

#rules {
  text-align: center;
  background-color: #7c7c7c;
  border: 2px solid black;
  border-radius: 15px;
  width: 30%;
  padding: 10px;
  margin: 10px;
}

#rules ul {
  text-align: left;
}

#rules:hover {
  background-color: aquamarine;
}
